{% extends "::base.html.twig" %}

{% block layout %}
            {% block before_body %}
            {% endblock %}
            <div id="content" class="one-column">
                {% block body %}
                {% endblock %}
            </div>
{% endblock %}