{% extends "FcFantaBundle::layout2col.html.twig" %}


{% block blog_title %}Championship creation{% endblock %}

{% block body %}

<form action="{{ path('championship_create') }}" method="post" {{ form_enctype(form) }}>
    {{ form_widget(form) }}
    <p>
        <button type="submit">Create</button>
    </p>
</form>

<ul class="record_actions">
    <li>
        <a href="{{ path('championship') }}">
            Back to the list
        </a>
    </li>
</ul>
{% endblock %}