parameters:
    database_driver: pdo_mysql
    database_host: localhost
    database_port: null
    database_name: sf2fanta
    database_user: root
    database_password: null
    mailer_transport: smtp
    mailer_host: localhost
    mailer_user: null
    mailer_password: null
    locale: en
    secret: 5dc7bcd8af9f12c112c58851f1db693c95fd93a2
    fc_fanta.db.table_prefix: fc_