{% extends app.request.query.get('layout') == 'popup' ?
'::popup.html.twig' : '::base.html.twig'
%}


{% block title %}Gestione utenti{% endblock %}

{% block body %}
            <div id="content">
                {% block fos_user_content %}{% endblock %}
            </div>    
{% endblock %}