{% extends '::base.html.twig' %}

{% block title %}Gestione utenti{% endblock %}

{% block layout %}
            <div id="content">
                {% block fos_user_content %}{% endblock %}
            </div>    
{% endblock %}