{# empty Twig template #}

<h2>Campionato a gironi</h2>

<p>Girone all'italiana con {{ data.teams|length }} squadre e {{data.params.num_gironi}} gironi (andata e ritorno si alternano)</p>
<p>La competizione verrà distribuita su {{ (data.teams|length-1)*data.params.num_gironi }} giornate del campionato <strong>{{ data.league.championship }}</strong></p>