{# empty Twig template #}

<h2>Descrizione</h2>

<p> 
    Torneo all'italiana a gironi.<br/>
    In base al numero di squadre ed al numero di gironi genera il calendario per tutto il campionato,
    alternando partite in casa e partite in trasferta secondo l'algoritmo di Berger.<br/>
    Indicare il numero di gironi totali (ad es. per un campionato con una andata e un ritorno i gironi sono 2).
</p>
