{# empty Twig template #}

<div class="calendar">
    {% for key, round in calendar.rounds %}
        <div class="calendar-round">{{ round.name }}
            <table>
                {% for match in round.games %}
                <tr>
                    <td>{{ match.team1 }}</td>
                    <td>vs</td> 
                    <td>{{ match.team2 }}</td>
                </tr>
                {% endfor %}
            </table>
        </div>
    {% endfor %}
</div>
<div style="clear:left">
<p>* Il numero tra parentesi dopo il nome della giornata indica il numero del girone a cui si riferisce la giornata</p>
<div style="clear:left">

