{% if object.isCalendarFrozen==true and admin.isGranted('EDIT', object) and admin.hasRoute('import_marks') %}
    <a href="{{ admin.generateObjectUrl('import_marks', object) }}" class="import_link" title="Importa voti">
        Importa voti
    </a>
{% endif %}